body {
    background-color: #65e2dd;
	font-family: "Lucida Console", "Courier New", monospace;
	color: #7f0e85;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
}

div{
	background-color: #8ee0de;
	padding: 20px;
}

button{
	padding: 4px;
}

input[type=text]{
	border-radius: 10px;
	border: 0px solid red;
	padding: 4px;
}

a{
	border-radius: 10px;
	background-color: #9beceb;
	padding: 20px;
}

.tooltip {
	position: relative;
  }
  
  .tooltip span[role=tooltip] {
	display: none;
  }
  
  .tooltip:hover span[role=tooltip] {
	display: block;  
	position: absolute; 
	bottom: 2em;
	width: 15em;
	padding: 0.5em;
	z-index: 100;
	color: #000; 
	background-color: #ffebe6;
	border: solid 1px #c32e04;
	border-radius: 0.2em;
  }