#WhoIAm {
    padding-top: 20px;
	text-align: center;
}
#WhatIAmDoing {
    text-align: center;
}
#HeadMessages {
    background-image: linear-gradient(white, #65e2dd);
    font-family: sans-serif;
    box-sizing: border-box;
    color: #7f0e85;
}

#content_table {
   width: 100%;
   font-size: 40px;
}

#content {
    padding-top: 20px;
    text-align: center;
}

body {
    background-color: #65e2dd;
	margin: 0px;
}